# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pdb
*.egg
*.eggs
*.env
.env
.venv
venv/
ENV/
env/
venv.bak/

# Django
*.log
local_settings.py
settings.pyc
staticfiles/
media/

# VS Code
.vscode/

# SQLite database
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/__pycache__/
*.pyc
# Others
*.swp
*.swo
*.bak
*.tmp

# Secret files
my_secrets.py
mysql_conn.py

venv
db.sqlite3
resources/*
*.pyc
